{% extends 'base.html.twig' %}

{% block title %}Hello AtomController!{% endblock %}

{% block body %}
    <h1> Search atom</h1>
    <form action="{{ path('atom_view') }}" method="POST">
        <label for="fname">Write name of atom:</label><br>
        <input type="text" name="atom_name"><br>
        <input type="submit" value="Search">
    </form>

    <a href="{{ path('home') }}">Home</a>
    <a href="{{ path('atom_list') }}">List of atoms</a>
    <a href="{{ path('home') }}">Create User</a>
    <a href="{{ path('app_login') }}">Log in</a>
{% endblock %}
